:root {
  --pink: #ff97bd;
  --white: #fefeff;
  --blue-violet: #4d46b5;
  --perfume: #c2b5f7;
  --chetwode-blue: #9087e2;
  --prelude: #dccded;
  --fedora: #70656d;
  --rose: #e0b1ab;
  font-family: Lato;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--pink);
}

h1 {
  text-align: center;
  color: var(--white);
}

.item {
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  border-radius: 10px;
}

i {
  color: var(--prelude);
}

form {
  display: flex;
  justify-content: center;
}

#submitForm {
  margin-bottom: 10px;
}

#input {
  padding: 8px;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: transparent;
  color: var(--blue-violet);
}

#todo {
  background-color: var(--blue-violet);
  border-radius: 10px;
  padding: 5px;
  width: 400px;
  margin-top: calc(50vh - 150px);
}
